.footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 50px 0;
  gap: 40px 76px;

  background-color: var(--primary-footer-color);
  color: var(--white-color);
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 40px 76px;
}

.footer a {
  color: var(--white-color);

  font-size: 14px;

  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.minstroy__title {
  width: 250px;

  font-size: clamp(13px, 2vw, 15px);
  font-weight: 700;

  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer__links {
    flex-direction: row;
  }

  .minstroy__title {
    width: 290px;
  }
}
