.field {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.field--invalid {
  border-color: var(--danger-color);
}

.field__error {
  margin-left: 10px;
  padding: 2px 0;

  font-size: 12px;
  color: var(--danger-color);
}
