.link {
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 20px;

  text-decoration: none;

  color: var(--black-color);
}

.link__icon {
  width: 24px;
  height: 24px;

  transform: rotate(90deg);
}
